<div class="row">
  <div class="col-xs-12">
    <h1 class="page-header">Trip Information <small>{{to-sentence model.countryNames}}</small></h1>
   </div>
</div>
<div class="row placeholders">
   <div class="col-xs-6 col-sm-3 placeholder">
     <a data-toggle="modal" data-target="#listModal">
       <i class="fa fa-suitcase" style='font-size: 100px;'></i>
       <h4>Packing Checklist</h4>
       <span class="text-muted">View/Edit your health packing list ({{model.packingListItems.length}})</span>
     </a>
   </div>
   <div class="col-xs-6 col-sm-3 placeholder">
     <a data-toggle="modal" data-target="#vaccineModal">
       <i class="fa fa-user-md" style='font-size: 100px;'></i>
       <h4>Vaccine Checklist</h4>
       <span class="text-muted">View/Edit your vaccine list ({{model.vaccines.length}})</span>
     </a>
   </div>
   <div class="col-xs-6 col-sm-3 placeholder">
     <a>
       <i class="fa fa-exclamation-circle" style='font-size: 100px;'></i>
       <h4>Notifications</h4>
       <span class="text-muted">See Travel Notifications for your trip</span>
     </a>
   </div>
   <div class="col-xs-6 col-sm-3 placeholder">
<a data-toggle="modal" data-target="#modalProfile">
   <i class="fa fa-user" style='font-size: 100px;'></i>
       <h4>Profile</h4>
       <span class="text-muted">View/Edit your profile</span>
     </a>
   </div>
 </div>

 <!-- Modal -->
 <div class="modal fade" id="listModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         <h4 class="modal-title" id="myModalLabel">Checklist</h4>
       </div>
       <div class="modal-body">
         <div class="list-group">
           {{#each model.packingListItems as |item|}}
            <a href="#" class="list-group-item active">{{item.name}}</a>
           {{/each}}
         </div>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         <button type="button" class="btn btn-primary">Save changes</button>
       </div>
     </div>
   </div>
 </div>

 <div class="modal fade" id="vaccineModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         <h4 class="modal-title" id="myModalLabel">Checklist</h4>
       </div>
       <div class="modal-body">
         <div class="list-group">
           {{#each model.vaccines as |item|}}
            <a href="#" class="list-group-item active">{{item.name}}</a>
           {{/each}}
         </div>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         <button type="button" class="btn btn-primary">Save changes</button>
       </div>
     </div>
   </div>
 </div>

 <!-- Modal -->
<div class="modal fade" id="modalProfile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">User Profile</h4>
      </div>
      <div class="modal-body">
    <div class="form-group">
      <label for="name">Name:</label>
      {{input id='name' value=model.name class="form-control" type='text'}}
      <label for="user"> Sex: </label>
      <label class="radio-inline">
        {{radio-button
          value="M"
          groupValue=model.gender
          changed="genderChanged"}} Male
      </label>
      <label class="radio-inline">
        {{radio-button
          value="F"
          groupValue=model.gender
          changed="genderChanged"}} Female
      </label>
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      {{input id='pwd' placeholder='Enter Password' type='password' value=model.password class="form-control input-lg" type='text'}}
    </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" {{action 'saveProfile'}}>Save changes</button>
      </div>
    </div>
  </div>
</div>
</div>
