<i class={{if vaccinated "fa fa-check-square-o" "fa fa-square-o" }} {{action 'selectVaccine'}}></i>
<span{{action 'selectVaccine'}}>{{vaccine.name}}</span>
{{#if savingVaccine}}
  {{bootstrap-datepicker placeholder="When?" class="form-control" value=vaccineDate bubbles=false}}
  <button {{action 'cancel'}}>Cancel</button><button {{action 'save'}}>Save Vaccine</button>
{{/if}}
